.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease;

  &:hover {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.3);
  }
}
